@import '../Colors/Colors.scss';
$primary-color: map-get($theme, primary-color);
$secundary-color: map-get($theme, secundary-color);
$primary-yellow: map-get($theme, primary-yellow);
$secundary-yellow: map-get($theme, secundary-yellow);
$black: map-get($theme, black);
$grey: map-get($theme, grey);
$secundary-grey: map-get($theme, secundary-grey);





button.button-component{
    padding: {top:10px; bottom: 10px; left:14px; right: 14px;}; font-weight: 600; border-radius: 4px; min-width: 4.5em;
    &.button-component--primary-yellow{
        background-color: #{$primary-yellow};
        color: #{$black};
        border: 1px solid #{$secundary-yellow};;
    }
    &.button-component--secundary-yellow{
        background-color: #{$secundary-yellow};
        color: #{$black};
    }
    &.button-component--primary-color{
        background-color: white;
        color: #{$primary-color};
        border: 1px solid #{$primary-color};;
    }
    &:disabled{
        color: #{$secundary-grey};
        background-color: #{$grey};
        border: 1px solid #{$secundary-grey};
    }
}