$colorsOld:(
    primary-color: #18ACC4,
    secundary-color: #007A8D,
    primary-yellow: #FDCB13,
    secundary-yellow: #DE9E1F,
    main-background: #f8f8ff,
    green: #0FA866,
    light-green: #33d670,
    dark-green: #0FA866,
    black: #1F2D30,
    white: #fff,
    grey: rgb(233, 231, 231),
    secundary-grey: rgb(172, 172, 172),
    opacity: rgba(31, 45, 48, 0.88)
);
$colorsNew:(
    primary-color: #304ffe,
    secundary-color: #4253c0,
    primary-yellow: #FDCB13,
    secundary-yellow: #DE9E1F,
    main-background: #f8f8ff,
    green: #33d670,
    light-green: #33d670,
    dark-green: #0FA866,
    black: #1F2D30,
    white: #fff,
    grey: rgb(233, 231, 231),
    secundary-grey: rgb(172, 172, 172),
    opacity: rgba(31, 45, 48, 0.88)
);
$theme: $colorsNew;