@import '../../Elements/Colors/Colors.scss';
@import '../../Elements/Breakpoints/Breakpoints.scss';

$primary-color: map-get($colorsNew, primary-color);
$secundary-color: map-get($colorsNew, secundary-color);
$white: map-get($colorsNew, white);

$green: map-get($colorsNew, green);


.App > .header{
    position: relative; display: flex;
    width: 100%; height: 6em; overflow: hidden;
    align-items: center; justify-content: space-around; background-color: ghostwhite;

    & > .header__group{
        position: relative;  display: flex; flex-direction: row; justify-content: center; align-items: center;
        padding: 10px;
    
        & > .header__subgroup{
            color: #{$primary-color};
            display: flex;  justify-content: center; align-items: center; flex-direction: column;
            & > .subgroup__text{
                display: flex; flex-direction: column;
                &.subgroup__text--mobile{
                    @include breakpoint(desktop){
                        display: none;
                    }
                }
                &.subgroup__text--desktop{
                    @include breakpoint(mobile){
                        display: none;
                    }
                    @include breakpoint(desktop){
                        display: flex;
                    }                     
                    
                }
                & > span.bold{
                    font-size: 16px;
                    font-weight: 600;
                }
                & > span.normal{
                    font-size: 12px;
                    font-weight: 400;
                }
            }
            & > .icon{
                font-size: 20px; margin: { left: 8px; right: 8px;};
                &.whatsapp{
                    margin: {right: 6px;};
                    color: #{$green};
                    @include breakpoint(mobile){
                        display: none;
                    }
                }
            }
            @include breakpoint(desktop){
                flex-direction: row;
            }            
        }


        & .group__vertical-line{
            height: 3.75em; width: 2px; background-color: #dfe0e5; margin: { left: 10px; right: 10px;};
            &.group__vertical-line--mobile{
                display: none;
                @include breakpoint(mobile){
                    display: block;
                }
            }
        }

        & > .group__logo{
            height: auto; width: 10em;
            @include breakpoint(desktop){
                width: 16em; height: auto;
            }
        }
    }
}
.App > .bar{
    position: relative; display:flex;  justify-content: space-between; width: 100%; height: 2.75em;
    background-color: #{$primary-color}; box-shadow: inset 0px 0px 15px 1px rgba(155, 157, 187, 0.8);
    & > .bar__group{
        color: white; font-weight: 700; position: relative;
        display: flex; align-items: center; justify-content: center; font-family: 'Proxima_Nova-Bold';
        margin: { left: 2em; right: 2em; };
        & > .bar__subgroup{
            text-align: center; padding: {left: 10px; right: 10px;};
            & > a{
                height: 100%; vertical-align: middle;
            }
            & > .icon{
                font-size: 14px; margin: { left: 8px; right: 8px;};
            }
            &.bar__subgroup--desktop{
                display: none;
                @include breakpoint(desktop){
                    display: block;
                }
            }
            &.bar__subgroup--toggle:hover ~ ul{
                display: table;
            }
            @include breakpoint(desktop){
                padding: {left: 20px; right: 20px;};
            }
        }
        & > ul{
            position: absolute; top: 100%; display: none; z-index: 1000; list-style-type: none; color: black;
            padding-inline-start: 0px; background-color: #{$secundary-color};
            & > li{
                color: #{$white};
                padding: {top:10px; left: 20px; right: 20px; bottom: 10px;};
            }   
        }
        &.bar__group--menu{
            @include breakpoint(desktop){
                display: none;
            }
        }
        &.bar__group--toggle:hover ul{
            display: table;
        }
        @include breakpoint(desktop){
            margin: { left: 6em; right: 6em; };
        }
    }
}
