@import '../../Elements/Colors/Colors.scss';
$primary-color: map-get($theme, primary-color);
$secundary-color: map-get($theme, secundary-color);
$main-background: map-get($theme, main-background);
$white: map-get($theme, white);
$opacity: map-get($theme, $key: opacity);
$greycolor: map-get($theme, grey);
$green: map-get($theme, green);

.App > .modal{
    position: fixed; height: 100%; width: 100%; top: 0;
    z-index: 1000; background-color: #{$opacity};
    display: flex; align-items: center; justify-content: center;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
    
    & > form.modal__wrapper{
        height: 80%; min-width: 45%; max-width: 100%;
        background-color: #{$white};
        position: relative; z-index: 1200;
        & > button.modal__button--close{
            position: absolute;
            right: 0; top:-26px;
            color: #{$white}; font-size: 26px; z-index: 10;
        }
        & > fieldset{
            padding: 0; margin: 2.5em; border: 0;
            &.modal__fieldset--title{
                display: flex; flex-direction: column;
                & > span.title{
                    font-weight: 600;
                    font-size: 24px;
                }
                & > span.subtitle{
                    font-weight: 500;
                    font-size: 14px;
                }
            }
            &.modal__fieldset--filter{
                display: flex; flex-direction: column; position: relative;
                margin-bottom: 10px;
                & .fieldset__group{
                    display: flex; width: 100%;
                    justify-content: space-between;
                    & .fieldset__subgroup{
                        display: flex; flex-direction: column; width: 100%;
                        padding: {top:10px; bottom: 10px;}; min-height: fit-content;
                        &.fieldset__subgroup--horizontal{
                            flex-direction: row;
                        }
                        & > .subgroup__check-box{
                            display: flex; justify-content: flex-start; align-items: center;
                            padding: 10px; height: fit-content;
                            & > *{
                                margin-right: 14px;
                            }
                        }
                        & > .subgroup__range{
                            display: flex; flex-direction: column;
                            padding: {bottom: 10px;};
                        }
                    }
                    &.fieldset__group--vertical{
                        flex-direction: column;
                    }
                }
                & label{
                    &.Title{
                        font-weight: bold;
                    }
                }
            }
            &.modal__fieldset--result{
                margin-top: 5px;
                margin-bottom: 0;
                max-height: 45%; overflow-y: auto;
                & > legend{
                    display: flex; justify-content: space-between;
                    font-weight: 600; width: 100%;
                    border-bottom: 1px solid rgb(214, 214, 214); padding-bottom: 15px;
                    & > .modal__fieldset__legend--title{

                    }
                    & > .modal__fieldset__legend--oder-filter{

                    }
                }
                & > .fieldset__wrapper-result{
                    
                    & .wrapper-result__line{
                        display: flex; flex-direction: row; height: 2.5em; overflow: hidden; font-size: 14px; align-items: center; 
                        & > div{
                            display: flex; flex-direction: column;
                        }
                        & > img{
                            margin-left: 36px; height: 100%;
                            width: 6em;
                        }
                        & > .description{
                            flex: 3; margin-left: 30px; 
                            & span{
                                color: #{$primary-color};
                                font-weight: 600;
                            }
                        }
                        & > .price{
                            flex: 1;
                            & span{
                                color: #{$green};
                                font-weight: 600;
                            }
                        }
                        & > .chk-course{
                        }
                    }
                }
            }
            &.modal__fieldset--commands{
                position: absolute;
                bottom: 0; right: 0;
                margin: 0; padding: 20px;
                & > *{
                    margin: {left: 10px; right: 10px;};
                }
               
            }
        }


    }
}

@keyframes fadeInOpacity{
	0% { opacity: 0; }
	100% { opacity: 1; }
}