@import '../../Elements/Colors/Colors.scss';
@import '../../Elements/Breakpoints/Breakpoints.scss';

$primary-color: map-get($theme, primary-color);
$secundary-color: map-get($theme, secundary-color);
$main-background: map-get($theme, main-background);
$white: map-get($theme, white);
$opacity: map-get($theme, $key: opacity);
$greycolor: map-get($theme, grey);
$green: map-get($theme, green);

.App > .modal{
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 950; overflow-y: scroll;
}
.App > .modal > .modal__opacity{
    position: fixed; /*height: 100%; width: 100%;*/ top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1000; background-color: #{$opacity}; /*overflow: hidden;*/
    opacity: 1; overflow-y: scroll;
	
}
    form.modal__wrapper{
        width: 100%; z-index: 1100;
        position: absolute; top: 3em;
        height: auto; margin: auto;
        background-color: #{$white};
        z-index: 1200;
        animation: fadeInOpacity 0.5s ease-in 1;

        @include breakpoint(desktop){
            top: 0; right: 0; left: 0; bottom:0; margin: auto;
            min-width: 45%; max-width: 50%;
            max-height: 80%;
        }
        & > button.modal__button--close{
            position: absolute;
            right: 0; top:-26px;
            color: #{$white}; font-size: 26px; z-index: 10;
        }
        & > fieldset{
            border: 0;
            padding: 14px;
            &.modal__fieldset--title{
                display: flex; flex-direction: column;
                & > span.title{
                    font-weight: 600;
                    font-size: 24px;
                }
                & > span.subtitle{
                    font-weight: 500;
                    font-size: 14px;
                }
            }
            &.modal__fieldset--filter{
                display: flex; flex-direction: column; position: relative;
                margin-bottom: 10px;
                & .fieldset__group{
                    display: flex; width: 100%;
                    justify-content: space-between;
                    flex-direction: column;
                    & .fieldset__subgroup{
                        display: flex; flex-direction: column; width: 100%;
                        padding: {top:10px; bottom: 10px;}; min-height: fit-content;
                        &.fieldset__subgroup--horizontal{
                            flex-direction: row;
                        }
                        & > .subgroup__check-box{
                            display: flex; justify-content: flex-start; align-items: center;
                            padding: 10px; height: fit-content;
                            & > *{
                                margin-right: 14px;
                            }
                        }
                        & > .subgroup__range{
                            display: flex; flex-direction: column;
                            padding: {bottom: 10px;};
                        }
                    }
                    &.fieldset__group--vertical{
                        flex-direction: column;
                    }
                    @include breakpoint(desktop){
                        flex-direction: row;
                    }
                }
                & label{
                    &.Title{
                        font-weight: bold;
                    }
                }
            }
            &.modal__fieldset--result{
                margin-top: 5px;
                margin-bottom: 0;
                & > legend{
                    display: flex; justify-content: space-between;
                    font-weight: 600; width: 100%;
                    border-bottom: 1px solid rgb(214, 214, 214); padding-bottom: 15px;
                    & > .modal__fieldset__legend--title{

                    }
                    & > .modal__fieldset__legend--oder-filter{

                    }
                }
                & > .fieldset__wrapper-result{
                    & .wrapper-result__line{
                        display: flex; flex-direction: row; height: 2.5em; overflow: hidden; font-size: 14px; align-items: center; 
                        & > div{
                            display: flex; flex-direction: column;
                        }
                        & > img{
                            margin-left: 36px; height: 100%;
                            width: 6em;
                        }
                        & > .description{
                            flex: 3; margin-left: 30px; 
                            & span{
                                color: #{$primary-color};
                                font-weight: 600;
                            }
                        }
                        & > .price{
                            flex: 1;
                            & span{
                                color: #{$green};
                                font-weight: 600;
                            }
                        }
                        & > .chk-course{
                        }
                    }
                    @include breakpoint(desktop){
                        height: 20em;
                    }
                }
                @include breakpoint(desktop){
                    overflow-y: auto;
                }
            }
            &.modal__fieldset--commands{
                margin: 20px; padding: 0px;
                float: right;
                & > *{
                    margin: {left: 10px; right: 10px;};
                }
               
            }
            @include breakpoint(desktop){
                margin: 2.5em;
                padding: 0; 
            }
        }
    }

@keyframes fadeInOpacity{
	0% { opacity: 0; }
	100% { opacity: 1; }
}